body{
	background-color: #d9d9d9;
	text-align:center;
	height: 960px;
	font-family: "arial", "helvetica neue", helvetica, sans-serif;
	font-size: 18px;
}


.header{
	}



.name{
	float:left;
	background-color:#009999;
	color:white;
	line-height:70px;
	width: 200px;
	margin-left: 100px;
}

.nav1{
	width:100%;
	background:white;
	margin:5px;
	line-height:70px;

}
.nav2{
	margin-left:200px;
}
.section{
	background:white; 
	color:#009999;
	margin:5px;	
	height:1185px;
	width: 350px;
	float:left;


}
img{
	margin-top:2px;
}
p{
	color:grey;
}

.aside{
	background:white;
	color: #009999;
	width:150px;
	height:100px;
	float: left;
	margin-left: 50px;

}

.footer{
	height:70px;
	background:grey;
	color:white;
	line-height:20px;
	margin-top: 1200px;
	text-align:center;


}

@media screen and (max-width: 980px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Additional Screen Sizes */

/* Width at 320px and below */
@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}

/* Width at 168px and below */
@media screen and (max-width: 640px) {
  body {
    background-color: #333;
  }

  .wrapper {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }

  #sidebar {
    margin-top: 40px;
  }
}